# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/app/.next/
/app/out/

# production
app/build

# misc
.DS_Store
*/.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.development
.env.test
.env.production

# dev
secrets/
keys/
*.tsbuildinfo
helm/values
